﻿<!DOCTYPE html>
<html ng-app="pixel">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Design Now</title>

    <!-- HTML IMPORTS-->
    <!-- STYLE SHEETS-->
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/style.css" />
    <!-- FONT CSS-->
    <link rel="stylesheet" type="text/css" href="/static/content/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/fontstyle.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/font-awesome.css" />
    <!-- DEFAULT SCRIPTS-->
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/jscolor.js"></script>
    <script src="/static/scripts/fontfaceobserver.js"></script>
    <script src="/static/scripts/jquery-1.10.2.min.js"></script>
    <script src="/static/scripts/fontfaceobserver.js" type="text/javascript"></script>
    <!-- FABRIC JS INSERTION-->
    <!-- <script src="static/js/fabric/fabric.js-1.7.19/dist/fabric.js"></script>-->
    <script src="/static/scripts/fabric.js"></script>


    <!-- ANGULAR JS INSERTION-->
    <script src="static/js/angular/angular.min.js"></script>
    <script src="static/js/angular/angular-sanitize.min.js"></script>
    <script src="static/js/angular/app.js"></script>
    <script src="static/js/angular/services/pixelservice.js"></script>
    <script src="static/js/angular/controllers/pixelcontroller.js"></script>
    <script src="static/js/angular/directives/toolDirective.js"></script>
    <script>
        $("span:nth-child(1)").mouseover(function () {
            $("#selector").animate({ "left": "10.1%" }, 200);
        });
        $("span:nth-child(2)").mouseover(function () {
            $("#selector").animate({ "left": "23.7%" }, 200);
        });
        $("span:nth-child(3)").mouseover(function () {
            $("#selector").animate({ "left": "38.1%" }, 200);
        });
        $("span:nth-child(4)").mouseover(function () {
            $("#selector").animate({ "left": "53%" }, 200);
        });
        $("span:nth-child(5)").mouseover(function () {
            $("#selector").animate({ "left": "66.9%" }, 200);
        });
        $("span:nth-child(6)").mouseover(function () {
            $("#selector").animate({ "left": "79.7%" }, 200);
        });

    </script>
</head>

<body>
    <div id='cssmenu'>
        <ul>
            <li class='active'><a href='#'><span style="font-family:'Railway';">Home</span></a></li>
            <li><a href='#'><span style="font-family:'Railway';">Products</span></a></li>
            <li><a href='#'><span style="font-family:'Railway';">Company</span></a></li>
            <li class='last'><a href='#'><span>Contact</span></a></li>
            <li style="float:right;"><a href='#'><span style="font-family:'Railway';">PIXEL</span></a></li>
        </ul>
        
    </div>


    <div class="container body-content">
      
        {% block content %}{% endblock %}
        <hr />
        <!--   <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>-->
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
